body {
  box-sizing: border-box;
  background-color: rgba(204, 204, 204, 0.322);
}

.App {
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
